<!-- Footer -->
<footer class="">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
    <div class="container-fluid">

      <div class="collapse navbar-collapse" id="navbarScroll">
        <div class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <div class="grid ">
            <div class="row">
              <div class="col text-light">© 2023 TheCocktailDB.Proudly  </div>
            </div>
            <div class="row">
              <div class="col text-light">built in the COL by Ivan Diaz @ivancho2802</div>
            </div>
          </div>
        </div>
        <!--  -->
        <div class="d-flex">
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Missing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Faq</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</footer>