<div>
  <div class="content">
    <app-header></app-header>

    <section id="begin" class="py-5">

      <img class="lines" src="../../../assets/cocktails/Lineas-fondo.png" alt="image background top">

      <div class="grid my-5">
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">

            <h1 color="primary">Drink of moment</h1>

            <p>{{cocktailpopular?.strDrink}}, {{cocktailpopular?.strDescription}}</p>

            <h2>4.9</h2>

            <div class="mt-4">
              <button class="btn bg-info btn-rounded">
                Try Now
                <span class="badge rounded-pill bg-secondary">
                  <i class="bi bi-chevron-right"></i>
                </span>
              </button>
            </div>

          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 text-center bg-cocktailpopular bg-info d-flex justify-content-center">
            <!-- <img class="backgrTopLeft" src="../../../assets/cocktails/Fruta-roja-centro.png" alt="image background left"> -->
            <img class="cocktailpopular" [src]="cocktailpopular?.strDrinkThumb ? cocktailpopular?.strDrinkThumb :'../../../assets/cocktails/Botella-Gin-centro.png'" [alt]="cocktailpopular?.strDrink" />
            <!-- <img class="backgrTopright" src="../../../assets/cocktails/Palitos-cafe-centro.png" alt="image background right"> -->
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">

            <div class="row mt-4">
              <div class="col">
                <div class="row">
                  <div class="col-3">
                    <button class="btn bg-info btn-rounded p-3">
                      <img src="../../../assets/cocktails/water-solid 1.png" alt="water-solid" width="25" />
                    </button>
                  </div>
                  <div class="col">
                    <div class="row">
                      <div class="col">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Versatility</h5>
                        </div>
                        <p class="mb-1">
                          The range of flavors in gin is
                          exceptionally wide, thanks to the
                          variety of botanicals that can be
                          used in its production.
                        </p>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                <div class="row">
                  <div class="col-3">
                    <button class="btn bg-info btn-rounded p-3">
                      <img src="../../../assets/cocktails/cocktail-solid 1.png" alt="cocktail" width="25" />
                    </button>
                  </div>
                  <div class="col">
                    <div class="row">
                      <div class="col">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Distiontiv Flavor</h5>
                        </div>
                        <p class="mb-1">
                          Bittersweet and slightly
                          woody flavor is the
                          signature of any gin.
                        </p>

                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="row mt-4">
              <div class="col">
                <div class="row">
                  <div class="col-3">
                    <button class="btn bg-info btn-rounded p-3">
                      <img src="../../../assets/cocktails/Vector.png" alt="Vector" width="25" />
                    </button>
                  </div>
                  <div class="col">
                    <div class="row">
                      <div class="col">
                        <div class="d-flex w-100 justify-content-between">
                          <h5 class="mb-1">Purity</h5>
                        </div>
                        <p class="mb-1">
                          This gives it a clean, pure feel,
                          without the caramel or vanilla notes
                          that come from barrel aging.
                        </p>

                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>

    </section>

    <h4>Resultados: {{cocktails.length}}</h4>

    <section id="cocktails" class="py-5">
      <div class="grid">
        <div *ngFor="let groupcocktails of cocktailsGroupsAux; let i = index">
          <div [class]="(i % 2 == 0 ? 'row bg-image-primary': 'row bg-image-secondary') + ' m-auto py-5 my-5'">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12" *ngFor="let cocktail of groupcocktails; let j = index">
              <div class=" m-4 text-center">
                <div class=" d-flex justify-content-center">
                  <div class="p-2 bd-highlight"></div>
                  <div [class]="
                    ((j == 0 || j == 3 || j == 6) ? 'bg-pinkcake': (
                      (j == 1 || j == 4 || j == 7 ? 'bg-greecake': 'bg-veiscake')
                    )) +
                    ' p-1 inlaze-item '">
                    <img [src]="cocktail.strDrinkThumb + '/preview'" [alt]="cocktail.strDrink" width="100"
                      height="100" />
                  </div>
                  <div class="p-2 bd-highlight"></div>
                </div>
                <span>{{cocktail.strDrink}}</span>
                <a [href]="'detail/' + cocktail.idDrink"  class="nav-item">
                  <p class="text-light">
                    Add to my list
                    <span class="text-light">+</span>
                  </p>
                </a>

              </div>
            </div>
          </div>
          <br>
          <!-- images background -->
          <img [src]="'../../../assets/cocktails/' + nameImagesBackgrgound[i]" alt="imagen-background"
            [class]="i % 2 == 0 ? 'bright' : 'bleft'" />
          <!-- images background -->

        </div>
      </div>
    </section>

    <hr class="border border-dark border-3 opacity-75">

    <section id="filterABC" class="my-5 py-5 text-center">
      <p>
        Browser By Name
      </p>

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item" aria-current="page" *ngFor="let alpha of alphabetData; let i = index">
            <a [routerLink]="['/home/filter', {'f': alpha}]">
              {{alpha}}
            </a>
          </li>

          <li class="breadcrumb-item" aria-current="page">
            <a [routerLink]="['/home']">
              Refresh
            </a>
          </li>
        </ol>
      </nav>


    </section>

  </div>
  <app-footer></app-footer>
</div>